*{
  margin: 0;
  padding: 0;
  background-color: #dadada;
  box-sizing: border-box;
  font-family: "Gilroy";
}

.container
{
  padding-top: 13vh;
  width: 80%;
  margin: auto;
  columns: 6;
  column-gap: 20px;
  
}
.container .box
{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.container .box img
{
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}


img:hover {
  
  opacity: .95;
  box-shadow: 0 0 10px #000;
  transform: translateY(-10px);
}

.caption{
	color: #262626;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
}

@media (max-width: 1427px)
{
  .container
  {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px)
{
  .container
  {
    columns: 4;
  }
}
